:root {
    --color-green:
    --color-white:
    --color-dark-grey:
    --color-medium-grey:
    --color-light-grey:
}

* {
box-sizing: border-box;
}

body {
    margin: 0;
    background-color: red;
}